.contain{
  width: 800px;
  margin: 100px auto;

}

body{
  background-color: ROSYBROWN;
  color: white;
  font-family: oswald, sans-serif;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom:250px;
  margin-left: 250px;
  margin-right:250px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}


a{
  letter-spacing: 2px;
  font-size: 50px;
  text-transform: lowercase;
  color:#89BC91;
  transition: color 3s ease;
  margin-top: 50px;
  margin-bottom:250px;
  /* margin-left: 250px; */
  /* margin-right:250px; */
  text-decoration: none;
}
