body{
  margin:0;
  background-color: tan;
}

.board {
  width: 800px;
  margin:100px auto;

}

.red, .white {
  float: left;
  width: 100px;
  height: 100px;
}

.red{
  background-color: red;
}

.white{
  background-color: white;
}

/* the end */

#threecol{
  width: 900px;
  margin:100px auto;
}

.header, .subhead, .column, .footer{
  background-color: white;
  float: left;
}

.header{
  width: 900px;
  height: 150px;
  background-color: black;
  float: left;
}

.subhead{
  width: 900px;
  height:50px;
  margin:25px 0;
  background-color: blue;
  float: left;
}

.column{
  width: 283.33px;
  height: 600px;
  margin:0 8px;
  background-color: red;
  float: left;
}

.footer{
  width: 900px;
  height: 75px;
  margin: 25px 0;
  background-color: purple;
  float; left;
}

.margin25{
  margin: 0, 25px;
}

/*the end */

body {
  margin: 0;
  background-color: #rosybrown;
}
.container {
  width: 900px;
  margin: 100px auto;
}
.header, .pic, .caption, .text {
  float: left;
}
.header {
  width: 900px;
  height: 100px;
  margin-bottom: 75px;
  background-color: #rosybrown;
}
.pic {
  width: 800px;
  height: 300px;
  margin-right: 15px;
  background-color: #FF5733;
}
.caption {
  width: 800px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 75px;
  background-color: #FF5733;
}
.text {
  width: 85px;
  height: 150px;
  background-color: violet;
}

/*the end */

body{background-color: #333333;
  margin-left: auto;
}
#container{
  width: 830px;
}
.side{
  width: 100px;
  height: 450px;
  background-color: violet;
  float: left;
  margin: 10px 10px 0;
}
.top{
  width: 600px;
  height: 150px;
  background-color: violet;
  float: left;
  margin: 10px 0 0
}
.side2{
  width: 100px;
  height: 450px;
  background-color: violet;
  float: right;
  margin: 10px 0 0
}
.square{
  width: 290px;
  height: 290px;
  background-color: violet;
  float: left;
  margin: 10px 5px 0
}
